---
layout: default
---

{% include hero-section.html %}

{% include about-section.html %}

{% include portfolio-section.html %}



<section class="section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
                <h3 class="section-title">Learning Goals</h3>
            </div>
            <div class="font-tertiary paragraph-lg text-center">
                <ol>
                    <li>Gain a deeper understanding of human and machine audition, and the similarities and differences between them.</li>
                    <li>Understand the signal properties that make music sound the way it does, and create music by modifying these properties.</li>
                    <li>Interact with AI agents to build creative music generation projects.</li>
                  </ol>
            </div>
        </div>
    </div>
</section>
