---
layout: default
---

{% include hero-section.html %}

{% include about-section.html %}

{% include portfolio-section.html %}



<section class="section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
                <h3 class="section-title">Learning Goals</h3>
            </div>
            <img src="{{ site.baseurl }}/assets/images/dancing-with-ai/learning-goals.png" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
        </div>
    </div>
</section>
